/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/runtime
/storage
/docs
.idea
.env
.env.backup
.env.example
.phpunit.result.cache
.styleci.yml
.phpstorm.meta.php
.gitattributes
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.phar
README.md
routes.txt



